* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 8px;
    color: #fff;
}

body {
    background-color: blue;
    width: 80%;
    height: 130px;
    margin: 10px auto 0;
    padding: 10px;
    border: 3px solid black;
}

header {
    height: 20px;
    width: 100%;
    background-color: black;
    margin-bottom: 5px;
}

main {
    overflow: hidden;
}

main>div {
    width: 30%;
    height: 60px;
    float: left;
    background: green;
    border: 3px solid fuchsia;
    margin-bottom: 5px;
}

main>div div {
    border: 1px solid #4c4c4c;
}

footer {
    background-color: aqua;
}

img {
    width: 50px;
}

.show-by-opacity{
    opacity: 1;
    -webkit-animation: 1s fadeIn;
    -moz-animation: 1s fadeIn;
    -o-animation: 1s fadeIn;
    animation: 1s fadeIn;
}
/* @-webkit-keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1; }
}
@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
} */

@keyframes fadeIn{
    0% {opacity:0;}
    50% {opacity:1; width: 30%;}
    100% {opacity:1; width: 60% ;}
}

/* .show-by-opacity-transition {
    opacity: 0.5;
    width: 50%;
    transition: opacity .4s ease, width .4s ease;
}
.show-by-opacity-transition:hover {
    opacity: 1;
    width: 70%;
} */